<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bear.pocketask">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">

        <activity
            android:name=".activity.login.LoginActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activity.receiver.ReceiverActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.test"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activity.person.PersonActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activity.edit.CreateQuestionActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".activity.comment.CommentActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activity.my.MyQuestionsActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.my.MyRespondsActivity"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>